.container {
    background: #eee;
    border: 1px solid #ddd;
}
.nav li {
    display: inline-block;
    height: 42px;
    line-height: 42px;
}
li a {
    display: inline-block;
    padding: 0 16px;
    color: #808080;
    text-decoration: none;
}
li .active {
    color: #29e;
}